<div class="container">
  <br/>
<div class="card">
    <div class="card-header">
        <h4>Mon compte</h4>
    </div>
    <div class="card-body">
        <div class="card-text">
            <ul>
                <li class="h6">Email : <%= @user.email %></li>
            </ul>
        </div>
        <br />
        <a href="<%= edit_user_registration_path %>" class="btn btn-success">Editer mon profil</a>
    </div>
    <div class="card-footer text-muted">
        Compte créé le <%= @user.created_at %>
    </div>
</div>
<br/>
<div class="card">
    <div class="card-header">
        <h4>Vos commandes</h4>
    </div>
    <div class="card-body">
        <div class="card-text">
        <% @user.orders.each do |order| %>
            <ul>
            <li>Commande nº <%= order.order_reference %> &nbsp; &nbsp; &nbsp; &nbsp; Commandé le: <%= order.created_at.to_date %></li>
            </ul>
        <% end %>
        </div>
        <br/>
    </div>
    <div class="card-footer text-muted">
      <a href="<%= root_path %>" class="btn btn-primary">Revenir aux produits</a>
    </div>
</div>
</div>
