<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 offset-md-3">
            <br><br><br>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <h1 class="h3 mb-3 font-weight-normal text-center">Mot de passe oublié ?</h1>


            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                <br>
            </div>

            <div class="actions d-flex justify-content-center">
                <%= f.submit "M'envoyer un nouveau mot de passe", class: "form-control", class: "btn btn-lg btn-primary" %>
            </div>
            <br>
            <h4 class="h4 mb-3 font-weight-normal text-center"> Ou</h4>
            <div class="d-flex justify-content-center">
                <a href="/devise/sign_in">Se connecter</a> &nbsp;
            </div>
            <div class="d-flex justify-content-center">
                <a href="/devise/sign_up">S'inscrire</a>
            </div>
            <% end %>
        </div>
    </div>
</div>
