#<p>Hello <%= @email %>!</p>
<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  //<p>We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
  <p>Nous vous contactons pour vous informer que votre email es en cours de mise à jour <%= @resource.unconfirmed_email %>.</p>
<% else %>
//<p>We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>
  <p>Nous vous contactons pour vous informer que votre email a été changé à <%= @resource.email %>.</p>
<% end %>
